* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbgcolor {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
}

.landing__logo:hover {
  text-decoration: none;
  color: white;
}
.landing__logo h3 {
  text-decoration: none;
  color: white;
}
.nav__items {
  margin-left: 100px;
}
.nav__items__lang {
  width: 90px;
  height: 25px;
  border-style: none;
  color: rgb(124, 124, 124);
  font-weight: bold;
  font-size: 13px;
  font-family: "Trebuchet MS", sans-serif;
  cursor: pointer;
}
.nav__items .nav__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  font-family: "Trebuchet MS", sans-serif;
  color: #ffff;
}

@media (max-width: 768px) {
  .nav__items {
    margin-left: 250px;
  }
  .signup__btn {
    margin-left: -5px;
  }
}

@media (max-width: 425px) {
  .nav__items {
    margin-left: 100px;
  }
  .signup__btn {
    margin-left: -5px;
  }
}

@media (max-width: 375px) {
  .nav__items {
    margin-left: 90px;
  }
  .signup__btn {
    margin-left: -5px;
  }
}

@media (max-width: 320px) {
  .nav__items {
    margin-left: 70px;
  }
  .signup__btn {
    margin-left: -10px;
  }
}
