.header_container {
  width: 100%;
  padding: 100px 80px;
  text-align: center;
}

.header__paragraph p {
  letter-spacing: 5px;
  text-align: left;
  font-size: 25px;
  color: #000;
}

.heading__description {
  margin-top: 50px;
  color: #009ccf;
  font-size: 25px;
  font-family: roboto, arial, helvetica, sans-serif;
}

.profile_picture img {
  margin-top: -50px;
  width: 200px;
  height: 200px;
  object-fit: fit;
  border-radius: 100%;
  border: 5px solid #fff;
  object-fit: cover;
}

.header__actions {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.hireme-btn {
  display: inline-block;
  text-decoration: none;
  background-color: #009ccf;
  color: #fff;
  border-radius: 3px;
  color: #fff;
  width: 150px;
  padding: 5px;
  border-style: none;
  transition: all 1s;
  cursor: pointer;
  position: relative;
}
.hireme-btn:active {
  color: #fff;
}
.hireme-btn:link {
  color: #fff;
}

.hireme-btn:hover {
  transform: translateY(-6px);
  text-decoration: none;
}
.hireme-btn::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  background-color: #009ccf;
  color: #fff;
  border-radius: 3px;
  z-index: -1;
  transition: all 1s ease-out;
  text-transform: uppercase;
  cursor: pointer;
}
.hireme-btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.header__actions__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__actions__socials .header_link {
  text-decoration: none;
  color: #009ccf;
}

.header__actions__socials .header_link:not(:last-child) {
  margin-right: 40px;
}
